/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 13px;
    text-align: center;
    color: aliceblue;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
/*  GRID OF FOUR  */

.span_3_of_4 {
	width: 32%;
}
.span_2_of_4 {
	width: 32%;
}
.span_1_of_4 {
	width: 32%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_1_of_4, .span_2_of_4, .span_3_of_4, .span_4_of_4 { width: 100%; 
    font-size: 12px;}
}

.project{
    width: 100%;
    border: 2px solid black;
     transition: all 900ms ease-in;
    -webkit-box-shadow: 10px 0px 101px 27px rgba(0, 0, 0, 0.53);
        -moz-box-shadow: 10px 0px 50px 27px rgba(0, 0, 0, 0.53);
        box-shadow: 10px 0px 100px 27px rgba(0, 0, 0, 0.53);
}


.project:hover {
   
   	border-style: dashed;
    border-color: white;
  
}