    * {
        box-sizing: border-box;

    }

    body {
        margin: 0;
        padding: 0px;
        background: linear-gradient(to right, rgba(212, 212, 212, 1) 0%, rgba(15, 111, 112, 1) 0%, rgba(15, 111, 112, 0.77) 76%);
        font-family: sans-serif;

    }

    /*mobile visibility*/

    @media only screen and (max-width: 709px) {
        .mobile-only {
            visibility: visible;

        }
        .nav {
            display: none;
            float: right;
        }

        .qr {
            display: none;
        }
    }

    @media only screen and (min-width: 710px) {
        .mobile-only {
            visibility: hidden;
        }
        .nav {
            visibility: visible;
            transition: 0.3s;
        }

        .qr {
            visibility: visible;
        }
    }


    .tablink {
        background-color: #555;
        color: white;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        font-size: 17px;
        width: 33.33%;
    }

    .tablink:hover {
        background-color: #777;
    }

    /* Style the tab content */

    .tabcontent {
        color: white;
        display: none;
        padding: 50px;
        text-align: center;
       
    }

    #tab1 {
        background: linear-gradient(to bottom, #666633 0%, #006666 100%);
    }

    #tab2 {
        background: linear-gradient(to bottom, #006699 0%, #33ccff 100%);
    }

    #tab3 {
        background-color: Lavender;
    }

    #tab4 {
        background-color: orange;
    }


    .profile {
        width: 250px;
        border-radius: 100%;
        padding: 10px;
        float: left;
        -webkit-box-shadow: 10px 0px 101px 27px rgba(0, 0, 0, 0.53);
        -moz-box-shadow: 10px 0px 50px 27px rgba(0, 0, 0, 0.53);
        box-shadow: 10px 0px 100px 27px rgba(0, 0, 0, 0.53);

    }

    .profile:hover {
        box-shadow: 0 0px 16px 0 blue;
        transition: 1s;
        transition-timing-function: ease-in-out;
    }



    .overlay {
        height: 0%;
        width: 100%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.9);
        overflow-y: hidden;
        transition: 0.5s;
    }

    .overlay-content {
        position: relative;
        top: 25%;
        width: 100%;
        text-align: center;
        margin-top: 30px;
    }

    .overlay a {
        padding: 8px;
        text-decoration: none;
        font-size: 16px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

    .overlay a:hover,
    .overlay a:focus {
        color: #f1f1f1;
        font-size: 23px;
    }

    .overlay .closebtn {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 60px;
    }

    .btn {
        border: none;
        color: white;
        padding: 5% 10px;
        font-size: 0.7em;
        cursor: pointer;
        border-radius: 30%;
        border: .5px solid;
        box-shadow: 0px 0px 22px;

    }

    .success {
        background-color: rgba(0, 0, 0, 0.4);
    }

    /* Green */

    .success:hover {
        background-color: #46a049;
    }

    .info {
        background-color: rgba(0, 0, 0, 0.4);
    }

    /* Blue */

    .info:hover {
        background: #0b7dda;
    }

    .warning {
        background-color: rgba(0, 0, 0, 0.4);
    }

    /* Orange */

    .warning:hover {
        background: #e68a00;
    }

    .danger {
        background-color: rgba(0, 0, 0, 0.4);
    }

    /* Red */

    .danger:hover {
        background: #da190b;
    }

    .container {
        width: 100%;
        background-color: #ddd;
    }

    .skills {
        text-align: right;
        padding-right: 20px;
        line-height: 40px;
        color: white;
        height: 12px;
        color: black;
    }

    .html {
        width: 100%;
        background-color: #4CAF50;
    }

    .css {
        width: 90%;
        background-color: red;
    }

    .js {
        width: 65%;
        background-color: #2196F3;
    }

    .php {
        width: 70%;
        background-color: #808080;
    }

    .sql {
        width: 50%;
        background-color:royalblue;
    }
        
    .j {
        width: 30%;
        background-color: lime;
    }

    .msword {
        width: 90%;
        background-color: #800;
    }

    .mspower {
        width: 70%;
        background-color: #310;
    }

    .android {
        width: 40%;
        background-color: #880;
    }

    .apple {
        width: 20%;
        background-color: #808;
    }

    .adobe {
        width: 90%;
        background-color: green;
    }
.dreamv {
        width: 70%;
        background-color: goldenrod;
    }
.excel {
        width: 70%;
        background-color: goldenrod;
    }
.wpress {
        width: 50%;
        background-color:mediumspringgreen;
    }

    .social {
        width: 66px;
    }

    .c1 {
        width: 18px;
        padding: 0px 2px;
    }

    .qr {
        width: 10%;
        float: right;
        padding-right: 26px;
    }

    .boldd {
        font-weight: bold;
    }

    .logo {
        padding: 12px;
        width: 200px;
        height: 150px;
     position: relative;
    }


    form {
        padding: 15px;
        background-color: lightsteelblue;
        width: 100%;
    }

    input,
    textarea {
        border: 1px solid dodgerblue;
        width: 100%;
        padding-left: 2px;
        height: 20px;
        padding: 13px;
    }


      
       